/*
Color Palette
fuchsia #e53170
blue #6bc9eb
*/


/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/* Generics */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: #e53170;
}

h2, span {
    color: white;
}

header, .paragraph {
    text-align: justify;
    text-align-last: center;
}

header {
    margin: 3rem 0;
}

.paragraph {
    margin-bottom: 3rem;

}

address {
    font-style: normal;
    margin-top: 15px;
}

img {
    width: 100px;
    float: left;
    margin-right: 15px;
}

.email {
    color: #6bc9eb;
}

/* Utilities */
.card {
    width: calc(100%/3 - 20px);
    height: 105px;
    background-color: black;
    float: left;
    margin: 10px;
}

.row {
    margin: 0 -10px 5px -10px;
}

.row::after {
    content:'';
    display: table;
    clear: both;
}